@charset "ISO-8859-1";

.card{
	opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}

label{
	font-weight: bold;
}

.main-section{
    margin:0 auto;
    margin-top:5%;
}

.nav-tabs .nav-item .nav-link:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:0px;
}