<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/users.css}" />


<!-- Icons solid type of fontawesome -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/fortawesome__fontawesome-free/css/solid.min.css}" />
	
<!-- Datatables bootstrap css -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/sp-2.0.1/datatables.min.css"/>

<title>Users CRUD</title>
</head>
<body>
	<header th:replace="layouts/commons::header"></header>

	<div class="container">
		<ul class="nav nav-tabs justify-content-end main-section"
			id="myUserTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="list-tab" data-bs-toggle="tab"
					data-bs-target="#list-tab-pane" type="button" role="tab"
					aria-controls="list-tab-pane" aria-selected="true">Listado
					Usuarios</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="form-tab" data-bs-toggle="tab"
					data-bs-target="#form-tab-pane" type="button" role="tab"
					aria-controls="form-tab-pane" aria-selected="false">Formulario
					de Usuario</button>
			</li>

		</ul>
		<div class="tab-content" id="myUserTabContent">
			<div class="tab-pane fade show active" id="list-tab-pane"
				role="tabpanel" aria-labelledby="list-tab" tabindex="0">
				<div th:replace="cardUsers/listUsers::cardListUsers"></div>
			</div>
			<div class="tab-pane fade" id="form-tab-pane" role="tabpanel"
				aria-labelledby="form-tab" tabindex="0">
				<div th:replace="cardUsers/userForm::cardUserForm"></div>
			</div>

		</div>


	</div>
	<div th:replace="layouts/commons::refBootstrapjs"></div>
	<div th:replace="layouts/commons::refDataTable"></div>
	<div th:insert="layouts/commons::refFontawesome"></div>
	
	<script>
      $(document).ready(function () {
        $('#userList').DataTable({
	        "language": {
	            "lengthMenu": "Visualizar _MENU_ registros por página",
	            "zeroRecords": "No se hallaron coincidencias",
	            "info": "Visualizando _PAGE_ de _PAGES_ páginas",
	            "infoEmpty": "Registros no disponibles",
	            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
	            "search":         "Búsqueda:",
	            "paginate": {
			        "first":      "Primero",
			        "last":       "Último",
			        "next":       "Siguiente",
			        "previous":   "Anterior"
			    },
	        }
	        
	    });
      });
    </script>

</body>
</html>